{%load static%}
{% load socialaccount %} 
<!-- socialaccount router(링크, 경로)를 사용해주기 위한 load입니다. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {%block title %}
    {%endblock%}
    </title>

        <!-- 이부분에 tab에 나타나는 페이지 제목을 작성해줍니다. -->

    <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
    <!-- 이부분에 공통된 css나 head에 들어가야할 내용을 작성해줍니다.  -->
    {%block extrahead %}
    <!-- 페이지별로 특정 css나 head에 들어가야하는 애를 작성해줍니다. -->
    {%endblock%}
</head>
<body>
    <nav>글로벌네브바! 
        <a href="{% url 'index' %}">
            <span>홈으로</span>
        </a> 
        <a href="{% url 'second' %}">
            <span>second-page</span>
        </a> 

       <!-- 아래 코드는 만약 사용자가 인가받은 사람이라면 -->
        {% if user.is_authenticated %}
        <!-- 로그인을 한 사용자이기때문에 유저를 보여주고 로그아웃을 보여줍니다. -->
        <span>
            사용자({{user}})
        </span>

      
        {% get_social_accounts user as accounts %}
        <!-- 인증 받은 사용자의 경우 accounts라는 이름으로 user를 social 계정을 들고옵니다. -->
        {% for i in accounts.kakao %}
        <!-- 현재는 kakao provider로만 회원가입을 진행하고 있으므로 kakao에서 소셜 유저 계정을 하나하나 들고옵니다 -->
        <!-- {{i.extra_data.kakao_account}} -->
        {{i.extra_data.kakao_account.gender}} 
        <!-- 여기서 보고싶은 것은 개인정보 제공 동의 항목을 통해서 들고왔던 
            extra_data부분이므로 object(소셜계정)의 extra_data로 접근하여 추가 정보를 가져옵니다. -->
        {{i.extra_data.kakao_account.email}}

        {%endfor%}

        <a href="{% url 'logout' %}">로그아웃</a>
        {%else%}
        <!-- 반대로 인가받지 않은 사용자라면 회원가입과 로그인을 유도합니다. -->
            <a href="{% url 'signup' %}">회원가입</a>
            <a href="{% url 'login' %}">로그인</a>
            <a class="kakao-btn" href="{% provider_login_url 'kakao' %}">K</a>
            <!-- django-allauth에서 제공해주는 kakao login url을 provider_login_url이라는 것을 이용해서
            손쉽게 구현해 줬습니다. -->
        {%endif%}


    </nav>
    <!-- 모든페이지에 공통적으로 들어가야할 요소들 -->


    {% block contents %}
    <!-- 페이지별로 다르게 보일 content를 입력하는 block -->
    {% endblock %}

    <footer>
        푸터자리입니다.
    </footer>
</body>
</html>